<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>

    <script
      type="text/javascript"
      src="/download/JS/qrcode.min.js"
    ></script>
  
    <link rel="stylesheet" href="/download/CSS/ipaList.css"/>

    <!-- <script type="module" src="/download/JS/requestIPAList.js"> -->
    </script>

    <title>ipa 下载列表</title>
  </head>

  <body>
    <div id="ul">
      <ul v-if="isShow" class="nav">
        <li><a href="/myCA.cer">iOS无法下载，请先安装证书</a></li>
      </ul>
    </div>

    <div id="tableView">
      <div v-html="tableHtml"></div>

      <button v-on:click="previoustPage">上一页</button>
      <button v-on:click="nextPage" style="float:right;">下一页</button>
    </div>
    <div id="qrcodeHandle">
      <div v-if="isMobile" id="qrcode" style="margin: 20px;">
        手机扫码下载：
      </div>
    </div>
<script>

function creatTable(data, isiOS) {
  var keyData = {
    id: "ID",
    name: "项目名称",
    version: "版本号",
    buildVersion: "构建版本号",
    description: "描述",
    resourceURL: "点击下载",
    date: "上传日期"
  };
  let _html = "";
  data.map((ipaInfo, index) => {
    _html += `
                          ${index % 2 == 0 ? `<tr>` : `<tr class="alt">`}
                          ${Object.keys(keyData)
                            .map(key => {
                              let value = ipaInfo[key] || "--";
                              if (key === "resourceURL") {
                                let url = value;
                                if (isiOS) {
                                  url = `itms-services://?action=download-manifest&url=${value}`;
                                }

                                value = `<a href=${url}>下载</a>`;
                              }
                              return ` <td> ${value} </td>`;
                            })
                            .join(" ")} </tr>`;
  });
  return `<table>
                  <tr>
                  ${Object.keys(keyData)
                    .map(key => `<th> ${keyData[key]} </th>`)
                    .join("")} 
                  </tr>
                  ${_html} 
                  </table> `;
}

var toplink = new Vue({
  el: "#ul",
  data: {
    isShow: false
  },
  mounted() {
    var url = window.location.href; //获取当前url
    var dz_url = url.split("#")[0]; //获取#/之前的字符串
    var cs = dz_url.split("?")[1]; //获取?之后的参数字符串
    var cs_arr = cs.split("&"); //参数字符串分割为数组
    var cs = {};
    for (var i = 0; i < cs_arr.length; i++) {
      //遍历数组，拿到json对象
      cs[cs_arr[i].split("=")[0]] = cs_arr[i].split("=")[1];
    }

    if (cs.os == "iOS") {
      this.isShow = true;
    }
  }
});

new Vue({
  el: "#tableView",
  data: {
    pageNum: 1,
    pageSize: 10,
    currentData: [],
    tableHtml: ""
  },
  methods: {
    requestIPAList: function() {
      axios
        .get(
          `/list${location.search}&pageSize=${this.pageSize}&pageNum=${this.pageNum}`
        )
        .then(response => {
          let jsonData = response.data;

          if (jsonData == undefined || jsonData["code"] != 0) {
            alert(
              jsonData["msg"] != undefined
                ? jsonData["msg"]
                : "请求错误，请检查"
            );
            return;
          }
          let data = jsonData["data"];
          if (!Array.isArray(data)) {
            alert("数据格式错误");
            return;
          }
          this.currentData = data;
          this.tableHtml = creatTable(data, toplink.isShow);
        })
        .catch(function(error) {
          // 请求失败处理
          console.log(error);
          alert(JSON.stringify(error));
        });
    },
    nextPage: function() {
      if (this.currentData.length < this.pageSize) {
        alert("已经是最后一页了");
        return;
      }
      this.pageNum += 1;
      this.requestIPAList();
    },
    previoustPage: function() {
      if (this.pageNum == 1) {
        alert("已经是第一页了");
        return;
      }
      this.pageNum -= 1;
      this.requestIPAList();
    }
  },
  mounted() {
    this.requestIPAList();
  }
});

new Vue({
  el: "#qrcodeHandle",
  data: {
    isMobile: true
  },
  methods: {
    createQRIfNeed: function() {
      if (
        !navigator.userAgent.match(
          /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
        )
      ) {
        this.isMobile = true;
        var url = document.URL;
        var qrcode = new QRCode("qrcode", {
          text: url,
          width: 128,
          height: 128,
          colorDark: "#3198f7",
          colorLight: "#ffffff",
          correctLevel: QRCode.CorrectLevel.H
        });
      } else {
        this.isMobile = false;
      }
    }
  },
  mounted() {
    this.createQRIfNeed();
  }
});
</script>

  </body>

</html>
